version: "3.9" 
networks:
  frontend_net:
  backend_net:
services:
    database:
      image: postgres:17
      container_name: avito_database
      ports:
        - "5432:5432"
      networks:
        - backend_net
      volumes:
        - db_data:/var/lib/postgresql/data
      environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres || exit 1"]
        interval: 10s
        timeout: 5s
        retries: 3
      restart: always
    go-service:
      networks:
        - frontend_net
        - backend_net 
      build:
        context: .
        dockerfile: Dockerfile
      container_name: avito_service
      ports:
        - "8080:8080"
volumes:
    db_data: